/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }




body {
    background-color:  #141922;
    font-family: 'Montserrat', sans-serif;
}


/* Side Menu */

.side-menu {
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    width: 200px;
    height: calc(100vh - 80px);
    background-color: #000;
    padding-left: 10px;
    color: #fff;
    overflow-y: auto;
}

.logo-spotify>img {
    width: 130px;
    margin: 20px 0;
}

ul li {
    list-style: none;
}

ul li a, 
.menu-center ul li a, 
.foot-side-menu a {
    line-height: 27px;
    text-decoration: none;
    color: #717171;
    font-weight: 600;
    font-size: 13px;
}

li a img {
    width: 25px;
    vertical-align: middle;
}

ul li:last-child {
    margin-bottom: 20px;
}

.fa-plus {
    color: #000;
    margin: 30px 5px 10px 0;
    font-size: 15px;
}

.fa-plus::before {
    padding: 7px 8px;
    background-color: #a3a3a3;
}

.line {
    border: 1px solid #717171;
    margin: 5px 0;
}

.foot-side-menu {
    width: 170px;
    margin-bottom: 5px;
}

.fa-arrow-alt-circle-down {
    font-size: 12px;
    vertical-align: baseline;
}

.square {
    height: 300px;
    width: 300px;
    display: inline-block;
    background-color: red;
    border: 1px solid #fff;
}

h4 img {
    width: 24px;
    height: 22px;
    border-radius: 50%;
    background-color: #808080;
    vertical-align: middle;
}

/* barra superiore */

.up-band {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    top: 0;
    height: 80px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.3);
}

.btn-upgrade {
    padding: 10px 35px;
    border-radius: 20px;
    background-color: #000;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    font-weight: 00;
    margin-right: 10px;
    font-size: 13px;
}

/* Content centrale */

.content {
    float: right;
    width: calc(100% - 200px);
    margin-bottom: 80px;
    /* background-color: yellow; */
    padding: 90px 20px 0 20px;
    overflow-y: auto;
}

.menu-center ul li {
    display: inline-block;
    text-decoration: none;
    margin: 10px;
}

.menu-center {
    text-align: center;
    margin-bottom: 20px;
}

h3, h4 {
    color: #fff;
}

.music-type {
    margin: 15px 0 5px;
    text-align: center;
}

.title-row {
    margin: 20px 0;
}

.subtitle {
    color: #717171;
    font-size: 13px;
    text-align: center;
}

.album-box img {
    width: 100%;
    object-fit: cover;
}

.row-main {
    display: flex;
    justify-content: space-between;
}

/* Footer band */

.footer-band {
    position: fixed;
    z-index: 3;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #282828;
}




/* Hover */

ul li a:hover, .foot-side-menu a:hover {
    color: #fff;
} 

.btn-upgrade:hover {
    transform: scale(1.1);
}

.menu-center ul li:hover {
    border-bottom: 1px solid #adff2f;
}