* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #141922;
    font-family: 'Montserrat', sans-serif;
    
}

.side-menu {
    position: fixed;
    display: inline-block;
    z-index: 2;
    width: 200px;
    height: calc(100vh - 80px);
    background-color: #000;
    padding-left: 10px;
    color: #fff;
    overflow-y: auto;
}

/* barra superiore */

.up-band {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    top: 0;
    height: 80px;
    width: calc(100vw - 200px);
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-upgrade {
    padding: 10px 35px;
    border-radius: 20px;
    background-color: #000;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    font-weight: 00;
    margin-right: 10px;
    font-size: 13px;
}

.btn-upgrade a {

}



.footer-band {
    position: fixed;
    z-index: 3;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #282828;
}

/* Side Menu */

.logo-spotify>img {
    width: 130px;
    margin: 20px 0;
}

ul li {
    list-style: none;
}

ul li a, .foot-side-menu a{
    line-height: 27px;
    text-decoration: none;
    color: #717171;
    font-weight: 600;
    font-size: 13px;
}

li a img {
    width: 25px;
    vertical-align: middle;
}

ul li:last-child {
    margin-bottom: 20px;
}

.fa-plus {
    color: #000;
    margin: 30px 5px 10px 0;
    font-size: 15px;
}

.fa-plus::before {
    padding: 7px 8px;
    background-color: #a3a3a3;
}

.line {
    border: 1px solid #717171;
    margin: 5px 0;
}

.foot-side-menu {
    width: 170px;
    margin-top: 120px;
}

.fa-arrow-alt-circle-down {
    font-size: 12px;
    vertical-align: baseline;
}

.square {
    height: 1000px;
}

h4 img {
    width: 24px;
    height: 22px;
    border-radius: 50%;
    background-color: #808080;
    vertical-align: middle;
}






/* Hover */

ul li a:hover, .foot-side-menu a:hover {
    color: #fff;
} 