* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #141922;
}

.side-menu {
    position: fixed;
    z-index: 2;
    width: 200px;
    height: 100vh;
    background-color: #000;
}

.up-band {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-band {
    position: fixed;
    z-index: 3;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #282828;
}